* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


.container {
    display: flex;
}


/* MAIN */
.main {
    flex: 1;
    padding: 20px 40px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e9e9e9;
    padding: 15px 20px;
    border-radius: 8px;
}

.topbar .user span {
    margin-left: 15px;
}

h1 {
    margin: 25px 0;
    color: white;
}

.table-section {
    position: relative;
}

.btn-tambah {
    position: absolute;
    right: 0;
    top: -50px;
    background: #0c7c80;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

table {
    width: 100%;
    background: #f2f2f2;
    border-radius: 15px;
    overflow: hidden;
    border-collapse: collapse;
}

thead {
    background: #117e7f;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #ccc;
}

.hapus {
    background: #ff3b3b;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.update {
    background: #2e8b8b;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #f5f5f5;
    width: 500px;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

.close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #0c7c80;
    outline: none;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.simpan {
    background: #b3d335;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
}

.batal {
    background: gray;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
}
.layout{
    display:flex;
    min-height:100vh;
}

.content{
    flex:1;
}
